# isl_video_genrator.py variables
VIDEO_ROOT=path/to/ISL_Dictionary
OUTPUT_ROOT=path/to/processed_npy

# npy_to_keypoints.py variables
INPUT_ROOT=your_input_path
OUTPUT_ROOT=your_output_path

# mapping_genrator.py variables
KEYPOINT_ROOT=path/to/isl_keypoints_dataset
OUTPUT_JSON=sentence_keypoint_mapping.json


#sent2embed.py required paths


MAPPING_JSON=sentence_keypoint_mapping_upper_full.json
OUTPUT_NPZ=sentence_keypoint_dataset_upper_full.npz

EMBEDDING_MODEL=all-MiniLM-L6-v2

MAX_SAMPLES=0

#train_lstm.py variables

DATA_PATH=sentence_keypoint_dataset_upper_full.npz
CHECKPOINT_PATH=checkpoints/sentence2keypoints_upper_full.h5
FINAL_MODEL_PATH=sentence2keypoints_upper_full_final.h5

EPOCHS=50
BATCH_SIZE=16



